{:kotoba.app/id "cloud.itonami.isic-0113", :kotoba.app/kind "appview", :kotoba.app/bundle-cid "bafkreiebvkzutmyffduvpk5i5d7tvv2s2ahxc4zaoj633psglkdo6djvhq", :kotoba.app/embed-url "ipfs://bafkreiebvkzutmyffduvpk5i5d7tvv2s2ahxc4zaoj633psglkdo6djvhq", :published {:archive "https://kotobase.net/ipfs/bafkreiebvkzutmyffduvpk5i5d7tvv2s2ahxc4zaoj633psglkdo6djvhq", :size 72361, :put-status 201, :get-status 200, :at "2026-08-15T12:55:37.676Z"}}
